body {
	padding-top: 70px;
}

h2 {
	text-align: center;
}

.features li {
	margin-bottom: 10px;
}

fieldset,
#saved-messages {
	width: 100%;
	list-style-type: none;
	background: #fafafa;
	margin: 10px 0px;
	padding: 20px;
	border: 1px solid #dedede;
}

#saved-messages .sortable {
	width: 100%;
	padding: 10px;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	padding-bottom: 15px;
	background: #fafafa;
}

#saved-messages .sortable li {
	background: #dedede;
	border: 1px solid #000;
	cursor: move;
	clear: both;
	margin-top: 5px;
	padding: 4px;
	padding-bottom: 8px;
	box-sizing: border-box;
	width: 100%;
}

#saved-messages .sortable li .handle {
	text-align: center;
}

#saved-messages .sortable li .handle h3 {
	margin: 5px;
}

#saved-messages .sortable li .edit-box {
	margin-top: 5px;
	box-sizing: border-box;
	padding: 10px;
}

#saved-messages .sortable li .collapsed {
	display: none;
}

/* hide the close button in the modal dialog */
.ui-dialog-titlebar-close {
	display: none;
}

.shortcut {
	position: relative;
	top: -60px;
}

.item {
	width: 100%;
}

@media screen and (max-width: 499px) {
	#saved-messages {
}

@media screen and (min-width: 500px) {
	#saved-messages .sortable {
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		align-items: center;
		justify-content: center;		
	}
	
	.message {
		align-self: flex-start;
		margin: 5px;
	}

}


@media screen and (min-width: 768px) {
	
	#saved-messages .sortable {
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		align-items: center;
		justify-content: center;		
	}
	
	.message {
		align-self: flex-start;
		margin: 5px;
		max-width: 320px;
	}

}


@media screen and (min-width: 992px) {

	#saved-messages .sortable {
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		align-items: center;
		justify-content: center;		
	}

	.message {
		align-self: flex-start;
		margin: 5px;
		max-width: 400px;
	}
}

@media screen and (min-width: 1200px) {

	#saved-messages .sortable {
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		align-items: center;
		justify-content: center;		
	}

	.message {
		align-self: flex-start;
		flex: flex-basis;
		margin: 5px;
		max-width: 500px;
	}
}